{% extends 'base.html' %}

{% block content %}
    <h1>new note</h1>
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <small class="text-danger">{{ message }}</small>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        <div class="mb-3">
            <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary rounded">Create Note</button>
    </form>
{% endblock content %}